.accordion-item {
    padding: 0 0;
    margin: 0;
    border-bottom: 1px var(--color-border) dashed;
    background-color: white;
    overflow: hidden;
}
  
.accordion-tab-container {
    display: flex;
    flex-flow: row nowrap;
}
  
.accordion-caret-container {
    /* Left as placeholder */
}
  
.accordion-item h2 {
    padding-bottom: 15px;
    padding-right: 5%;
    margin: 0 !important;
    padding-top: 1rem !important;
    padding-left: 1rem;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 2rem;
}
  
.accordion-item span {
    display: inline-block;
    color: var(--color-span);
    padding-bottom: 15px;
    padding-right: 5%;
    margin: 0 !important;
    padding-top: 1rem !important;
    padding-left: 1rem;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 600;
    font-size: 2rem;
}
  
.accordion-item .display {
    padding: 0 3rem 0 3rem;
    max-height: 0px;
    transition: max-height 0.3s ease;
    overflow: hidden;
    font-size: 1.25rem;
    font-weight: 300;
}
  
.accordion-item.active .display {
    max-height: 500px;
    transition: max-height 1s ease;
    overflow: hidden;
}
  
.active .accordion-caret{
    transform: rotate(90deg) translate(-0.4rem, -0.55rem);
    transition: transform .2s ease-in-out;
}
  
.accordion-caret {
    transition: transform .2s ease-in-out;
}

@media (orientation: portrait) {

    .accordion-item h2 {
        font-size: 1.5rem;
    }

	@media (min-width: 600px) {

	}
}
  
@media (orientation: landscape) {

	@media (max-width: 1370px) {

	}
}
  