.carousel {
    width: 100%;
    height: 30vw; /* Check again this measure :) */
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.carousel:hover .controls {
    opacity: 1;  
}

.carousel .controls {
    opacity: 0;
    display: flex;
    position: absolute;
    top: 50%; /* This should be overridden in the future */
    left: 0;
    justify-content: space-between;
    width: 100%;
    z-index: 500;
    transition: all ease 0.5s;
}

.carousel .controls .control {
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.15);
    opacity: 0.5;
    transition: ease 0.3s;
    cursor: pointer;
    font-family: Arial;
}

.carousel .controls .control:hover {
    opacity: 1;
}

.carousel .slides {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
    transition: 1s ease-in-out all;
}

.carousel .slides .slide {
    min-width: 100%;
    min-height: 250px;
    /* height: auto; */
}

.carousel .slide {
    position: relative;
    height: 30vw; /* Needs to be the same as .carousel height */
}

.carousel .slide-over {
    display: flex;
    flex-flow: row;
    background-color: rgba(0, 0, 0, 0.651);
    height: 100%;
    width: 100%;
    z-index: 10;
    position: absolute;
    color: white;
    align-items: center;
}

.slide-over h2 {
    color: white;
    font-size: 3rem;
}

.slide-over span {
    font-size: 1.5rem;
    font-weight: 100;
    padding-top: 2rem;
}

img.slide {
    object-fit:cover;
    
}